<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitchTextToVoice.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TwitchTextToVoice.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TwitchTextToVoice.Settings1>
            <setting name="vips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="subs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mods" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="todos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="channelToJoin" serializeAs="String">
                <value />
            </setting>
            <setting name="commandRequired" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="commandText" serializeAs="String">
                <value>tts</value>
            </setting>
        </TwitchTextToVoice.Settings1>
    </userSettings>
</configuration>